<!DOCTYPE html>
 <html> 
  <head>
    <base href="http://localhost/project/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mis reservas de equipos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap -->
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">     
    <link href="libs/jquery/jquery-ui.css" rel="stylesheet">
    <link href="libs/timepicker/lib/bootstrap-datepicker.css" rel="stylesheet">
    <link href="libs/timepicker/jquery.timepicker.css" rel="stylesheet">
    <link href="libs/bootstrap/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">  
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="web/index.php/usuarios/inicio">W-Virtual</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">             
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"  alt="">
                Conectado <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="web/index.php"><i class="fa fa-power-off"></i>   Cerrar sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>  

    <p></br></p>

    <div class="container" id="texto">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked admin-menu">
              <li class="input-md"><a href="web/index.php/usuarios/inicio" data-target-id="home"><i class="fa fa-home fa-fw"></i>Home</a></li>
              <li class="input-md"><a href="web/index.php/salas/reserva" data-target-id="table"><i class="fa fa-table fa-fw"></i>Reservar sala</a></li>
              <li class="input-md"><a href="web/index.php/equipos/reserva" data-target-id="calender"><i class="fa fa-calendar fa-fw"></i>Reservar equipo</a></li>
              <li class="input-md active"><a href="web/index.php/misreservas" data-target-id="library"><i class="fa fa-book fa-fw"></i>Mis reservas</a></li>
          </ul>
        </div>

        <div class="col-md-1"></div>        
         <div class="col-md-9 admin-content" id="widgets">
           <div class="col-md-12 admin-content" id="widgets">
            <div class="row">
              <div class="col-md-12"></div>
                <div class="col-md-12">

                  <ul class="nav nav-tabs">
                    <li><a href="web/index.php/misreservas">Salas</a></li>
                    <li class="active"><a href="web/index.php/misreservasequipos">Equipos</a></li>
                  </ul>
                  
                  <p></br></p>
                  <div class="panel panel-default">  
                      <table  id="mytable" class="table table-bordred table-striped">
                        <thead>
                          <tr>
                             <th>No. de reserva</th><th>Serial del equipo</th><th>Fecha</th><th>Hora</th>
                          </tr>
                        </thead>
                        <tbody data-bind="foreach: view.table">
                          <tr>
                            <td data-bind="text: $data.id"></td>
                            <td data-bind="text: $data.serial"></td>
                            <td data-bind="text: $data.fecha"></td>
                            <td data-bind="text: $data.hora"></td>
                          </tr>                      
                        </tbody>
                      </table> 
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div> 
        
    </div>  
   
    <script src="libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="libs/knockout/knockout-3.2.0.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrapgrowl/bootstrap-growl.min.js"></script>
    <script src="libs/jquery/jquery-ui.js"></script>
    <script src="js/main.js"></script>

  <script type="text/javascript">
      var viewModel={
        view:{        
          table: ko.observableArray()
        }       
      };

      var getEquipos = function(){
        $.ajax({
          url: "web/index.php/api/equipos/reserva",
          type: "GET",
          data: {username: '{{username}}'},
          success: function(data){
            viewModel.view.table(data);
          }
        });
      };

      ko.applyBindings(viewModel);

      getEquipos();
    </script>  
  </body>
</html>